<launch>

<include file="$(find tests)/launch/depth_controller_test.launch"/>
<include file="$(find tests)/launch/heading_controller_test.launch"/>

<node pkg="actions" type="depthServer.py" name="depthServer" output="screen"/>
<node pkg="actions" type="headingServer.py" name="headingServer" output="screen"/>
<node pkg="actions" type="headingClient.py" name="headingClient" output="screen"/>
<node pkg="actions" type="depthClient.py" name="depthClient" output="screen"/>

<!-- to test standalone -->
<node pkg="tests" type="depth.py" name="depth" output="screen"/>
<node pkg="tests" type="heading.py" name="heading" output="screen"/>

<node pkg="thrusters" type="depth_controller.py" name="depth_controller" output="screen"/>
<node pkg="thrusters" type="heading_controller.py" name="heading_controller" output="screen"/>
</launch>

