<launch>

<include file="$(find tests)launch/controller_test.launch"/>
<!--node pkg="tests" type="depthClient.py" name="depthClient" output="screen"/-->
<!--node pkg="actions" type="depthServer.py" name="depthServer" output="screen"/-->
<!-- node pkg="actions" type="headingServer.py" name="headingServer" output="screen"/-->
<!-- node pkg="tests" type="headingClient.py" name="headingClient" output="screen"/-->

</launch>
