<launch>

<node name="depth" pkg="tests" type="depth.py"/>
<node name="depth_setpoint" pkg="tests" type="depth_setpoint.py"/>

<node name="controller" pkg="pid" type="controller" ns="depth_controller" output="screen" >
      <param name="Kp" value="5.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.1" />
      <param name="upper_limit" value="400" />
      <param name="lower_limit" value="-400" />
      <param name="windup_limit" value="400" />
      <param name="max_loop_frequency" value="100.0" />
      <param name="min_loop_frequency" value="100.0" />
      <remap from="setpoint" to="/depth_setpoint" />
      <remap from="state" to="/depth" />
      <remap from="control_effort" to="/depth_thruster" />
     </node>

</launch>
