<launch>

<node pkg="mission_planner" type="mission_planner.py" name="missionPlanner" output="screen" launch-prefix="xterm -e"/>
<include file="$(find launch)/Controller/depth_controller.launch"/>
<node name="depth" pkg="tests" type="depth.py" launch-prefix="xterm -e"/>
<node pkg="actions" type="depthServer.py" name="depthServer" output="screen" launch-prefix="xterm -e"/>

</launch>