<launch>

<node pkg="mission_planner" type="mission_planner.py" name="missionPlanner" output="screen" launch-prefix="xterm -e"/>
<include file="$(find launch)/Controller/depth_controller.launch"/>
<node pkg="actions" type="depthServer.py" name="depthServer" output="screen" launch-prefix="xterm -e"/>
<node pkg="actions" type="forwardServer.py" name="forwardServer" output="screen" launch-prefix="xterm -e"/>
<node pkg="thrusters" type="depththruster.py" name="depthThruster" output="screen"/>
<node pkg="thrusters" type="vectorthruster.py" name="vectorThruster" output="screen"/>
<include file="$(find launch)/Controller/forward_controller.launch"/>
<node pkg="smach_viewer" type="smach_viewer.py" name="smachViewer" output="screen"/>

</launch>
