#!/usr/bin/env python
PACKAGE = 'thrusters'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add('td1', double_t, 1500, 'depth thruster 1 paramete', 1500, 1100, 1900)
gen.add('td2', double_t, 1500, 'depth thruster 2 parameter', 1500, 1100, 1900)
gen.add('td3', double_t, 1500, 'depth thruster 3 parameter', 1500, 1100, 1900)
gen.add('td4', double_t, 1500, 'depth thruster 4 parameter', 1500, 1100, 1900)

exit (gen.generate(PACKAGE, 'depthThruster', 'depthThruster'))
